# Generic
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log
*.sqlite3
*.db
*.pot
*.mo
*.env
.env.*
.venv/
venv/
ENV/
env/
pip-wheel-metadata/
.mypy_cache/
.pytest_cache/
.coverage
.tox/
.cache/
.pyre/
.dmypy.json
.pytype/
.ipynb_checkpoints/
*.ipynb
.DS_Store
.vscode/

# Ignore all .json and .xml files except those in courses/*
*.json
*.xml
!courses/**/*.json
!courses/**/*.xml
!courses/*.json
!courses/*.xml